[submodule "external/twine"]
	path = external/twine
	url = git://github.com/neonstalwart/twine.git
[submodule "external/patr"]
	path = external/patr
	url = git://github.com/kriszyp/patr.git
[submodule "external/sinon"]
	path = external/sinon
	url = git://github.com/cjohansen/Sinon.JS.git
[submodule "external/dojo"]
	path = external/dojo
	url = git://github.com/dojo/dojo.git
[submodule "external/promised-io"]
	path = external/promised-io
	url = git://github.com/kriszyp/promised-io
[submodule "external/requirejs"]
	path = external/requirejs
	url = git://github.com/jrburke/requirejs.git
